@model List<REVandCOD.Models.Oppurtunity>


@{
    ViewBag.Title = "NewOpp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Oppurtunity</h2>


<table id="movies" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>AccountName</th>
            <th>Portfolio</th>
            <th>OppurtunityType</th>
            <th>OppurtunityNo</th>
            <th>OppurtunityName</th>
            <th>OppurtunityDescription</th>
            <th>ProjectType</th>
            <th>RFPDT</th>
            <th>ProposalSubmissionDate</th>
            <th>NegitationClosureDate</th>
            <th>LOIDT</th>
            <th>WinningProbability</th>
            <th>OnDateClosureProbability</th>
            <th>SignatureExpectedDate</th>
        </tr>
    </thead>
    @foreach (var oppurt in Model)
    {
        <tr>
            <td>@oppurt.AccountName</td>
            <td>@oppurt.Portfolio</td>
            <td>@oppurt.OppurtunityType</td>
            <td>@oppurt.OppurtunityNo</td>
            <td>@oppurt.OppurtunityName</td>
            <td>@oppurt.OppurtunityDescription</td>
            <td>@oppurt.ProjectType</td>
            <td>@oppurt.RFPDT</td>
            <td>@oppurt.ProposalSubmissionDate</td>
            <td>@oppurt.NegitationClosureDate</td>
            <td>@oppurt.LOIDT </td>
            <td>@oppurt.WinningProbability </td>
            <td>@oppurt.OnDateClosureProbability</td>
            <td>@oppurt.SignatureExpectedDate</td>
        </tr>
    }
</table>
